.main-container{
  height: 100%;
  width: 80%;
}

div {
  border-style: none;
}

h1{
    text-align: center;
    margin:3px;
    padding: none;
}

.menuAndOrder-container{ /*center contents*/
  display: flex;
  flex-direction:row;
  min-height: 90%;
}



@media screen and (max-width: 1193px) {
  .menuItem{
    width: 40%; /*biggest size*/
  }
}


@media screen and (max-width: 588px) {
  .nav-container{
      position: static;
      }

  .menuAndOrder-container {
    flex-direction: column;
  }

.menuList-container{
  padding: 25px;
}

  .menuItem{
    max-width: 100%;
    min-width: 100%;
  }

  div.pic img{
    /*height:350px;*/
  }
}
